@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --pink-color: #d06b77;
    --pink-vinho: #71232c;
    --pink-gray: #c5a4ab;
    --blue-gray: #a3c6db;
    --blue-sky: #86cce7;
    --blue-strong: #2284a2;

    --font-EduAustralia:"Edu AU VIC WA NT Hand", cursive;
}

body {
    background: rgb(195, 149, 159);
    background: linear-gradient(141deg, rgb(234, 210, 216) 41%, rgb(227, 120, 132) 72%, rgb(237, 136, 136) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    background-color: #71232c;
}
body::-webkit-scrollbar-thumb {
    background-color: #d06b77;
    border-radius: 20px;
    border: 1px solid black;
}

/* Cabeçalho */
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 70px;
    top: 0;
    margin-bottom: 50px;
}
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    gap: 20px;
}
li a {
    font-size: 20px;
    font-family: var(--font-EduAustralia);
    font-weight: 800;
    color: black;
    transition: 0.3s all ease;
    border-radius: 80%;
}
li a:hover {
    /* color: white;
    background-color: black; */
    /* padding: 3px; */
    border-radius: 100%;
    text-decoration: underline white;
    transform: scale(1.1);
    transition: 0.5s all ease;
}
.logo-box {
    display: flex;
    align-items: center;
    gap: 5px;
}
.logo-box #logo {
    width: 40px;
    height: 40px;
}
.logo-box h2 {
    font-size: 28px;
    font-family: var(--font-EduAustralia);
    font-optical-sizing: auto;
    font-weight: 600;
    /* font-style: italic; */
}
#btn-switch {
    font-size: 38px;
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.3s ease;
}
.icon-white {
    color: white;
    transition: color 0.3s ease, transform 0.3s ease;
}
.icon-black {
    color: black;
    transition: color 0.3s ease, transform 0.3s ease;
}
/* .icon-switch {
    transform: scale(1.2);
    transition: color 10s ease, transform 0.3s ease;
} */

/* Inicio */
.inicio .inicio-fundo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-bottom: 30px;
}
.inicio-fundo img {
    width: 400px;
    height: 500px;
    border-radius: 34px;
    border: 1px solid var(--pink-color);
    box-shadow: rgba(218, 32, 94, 0.448) 0px 10px 36px 0px, rgba(199, 67, 67, 0.505) 0px 0px 0px 1px;
}
.inicio-texto h1 {
    font-size: 48px;
    margin-bottom: 10px;
    color: black;
}
.inicio-texto h3 {
    color: #5b1b0c;
}
.barra-social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 20px;
}
.barra-social .barra1 {
    width: 1520px;
    height: 2px;
    background-color: black;
}
.barra-social .rede-sociais {
    display: flex;
    gap: 10px;
}
.rede-sociais a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #9A3451;
    border-radius: 50%;
    padding: 8px;
    color: black;
    cursor: pointer;
    transition: 0.3s all ease;
}
.rede-sociais a:hover {
    transform: scale(1.1);
    color: whitesmoke;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.rede-sociais a i {
    font-size: 24px;
}
.barra-social .barra2 {
    width: 200px;
    height: 2px;
    background-color: black;
}

/* Seção Sobre */
main .sobre {
    gap: 300px;
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 100px;
}
.imagens img {
    width: 500px;
    height: 600px;
    border-radius: 5px;
    border: 2px solid var(--pink-vinho);
    box-shadow: rgba(218, 32, 94, 0.448) 0px 10px 36px 0px, rgba(199, 67, 67, 0.505) 0px 0px 0px 1px;
}
.sobre .sobre-texto {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-weight: 300;
    gap: 20px;
    align-items: start;
    justify-content: center;
}
.sobre-texto h4 {
    color: #7d1b27;
}
.sobre-texto p {
    color: #5b1b0c;
}
.sobre-texto button {
    color: black;
    font-weight: bold;
    height: 60px;
    width: 250px;
    margin-top: 50px;
    font-size: 24px;
    background-color: var(--pink-color);
    border-radius: 30px;
    border: 2px solid var(--pink-vinho);
    cursor: pointer;
    transition: 0.3s all ease;
}
.sobre-texto button:hover {
    box-shadow: rgba(218, 32, 94, 0.448) 0px 5px 15px;
    transform: scale(1.05);
    color: whitesmoke;
    background-color: black;
    border: 1px solid var(--pink-vinho);
}

/* Seção Serviços */
main .servicos {
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.servicos .servicos-texto {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.servicos-texto h1 {
    font-size: 32px;
}
.servicos-conteudo {
    display:flex;
    justify-content: center;
    gap: 80px;
    padding: 0 40px;
}
.servicos-conteudo .servico-compra {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    max-width: 300px;
    word-wrap: break-word;
    word-break: break-word;
}
.servico-compra h1 {
    font-size: 28px;
}
.servico-compra p {
    text-align: left;
    font-size: 18px;
}
.servico-compra button {
    color: black;
    font-weight: bold;
    height: 50px;
    width: 200px;
    margin-top: 50px;
    font-size: 18px;
    background-color: var(--pink-color);
    border-radius: 30px;
    border: 2px solid var(--pink-vinho);
    cursor: pointer;
    transition: 0.3s all ease;
}
.servico-compra button:hover {
    box-shadow: rgba(218, 32, 94, 0.448) 0px 5px 15px;
    transform: scale(1.05);
    color: whitesmoke;
    background-color: black;
    border: 1px solid var(--pink-vinho);
}
.servico-compra #barra {
    width: 260px;
    background-color: black;
    height: 3px;
    margin-bottom: 40px;
}
.servicos-conteudo .servicos-img {
    max-width: 400px;
} 
.servicos-img img {
    width: 400px;
    height: 500px;
}
.servicos-cards {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.servicos-cards .card1,
.servicos-cards .card2 {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.cards .card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 300px;
    word-wrap: break-word;
    word-break: break-word;
}
.card p {
    font-size: 14px;
    text-align: left;
    word-break: break-word;
}
.card .barra {
    width: 160px;
    background-color: black;
    height: 3px;
    margin-bottom: 5px;
}

/* Seção Produtos */
main .produtos {
    margin-top: 100px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.produtos-texto {
    text-align: center;
}
.produtos .produtos-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
.produtos-card .card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
    max-width: 350px;
    word-wrap: break-word;
    word-break: break-word;
}
.card img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}
.card h1 {
    font-size: 24px;
    margin: 10px 0;
}
.card p {
    font-size: 18px;
    margin: 10px 0;
}
.card .preco {
    font-size: 24px;
    color: #333;
    margin: 10px 0;
}
.card .comprar {
    color: black;
    font-weight: bold;
    height: 50px;
    width: 200px;
    margin-top: 10px;
    font-size: 18px;
    background-color: var(--pink-color);
    border-radius: 30px;
    border: 2px solid var(--pink-vinho);
    cursor: pointer;
    transition: 0.3s all ease;
}
.card .comprar:hover {
    box-shadow: rgba(218, 32, 94, 0.448) 0px 5px 15px;
    transform: scale(1.05);
    color: whitesmoke;
    background-color: black;
    border: 1px solid var(--pink-vinho);
}

/* Seção Feedback */
main .feedback {
    margin-bottom: 30px;
    margin-top: 100px;
}
.feedback .feedback-conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.feedback-conteudo .conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 100px;
    flex-wrap: wrap;
}
.autor {
    display: flex;
}
.autor-dados {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
}
.autor-icons button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s all ease;
}
.autor-icons button:hover {
    color: aliceblue;
    transform: scale(1.05);
}
.feedback-texto {
    font-size: 34px;
    flex: 1;
    max-width: 500px;
}
.feedback-imagem {
    flex: 1;
}
.feedback-imagem img {
    width: 500px;
    height: 600px;
}

/* Seção Instagram */
main .instagram {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.instagram h1 a {
    color: azure;
}
.instagram .instagram-carrossel {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
}
.instagram-carrossel img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--pink-color);
    color: black;
    width: 100%;
    height: 300px;
    padding: 20px;
    bottom: 0;
}
footer h1, footer h3, footer a, footer p {
    margin: 10px 0;
}
.diely-salao, .quick-links, .contatos-rede {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.diely-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.diely-marca img {
    width: 40px;
    height: 40px;
}
.diely-salao h1 i, .diely-salao h3 i {
    margin-right: 8px;
}
.quick-links a {
    font-size: 24px;
    color: black;
    cursor: pointer;
    transition: 0.3s all ease;
}
.contatos-rede a {
    font-size: 36px;
    color: black;
    cursor: pointer;
    transition: 0.3s all ease;
}
.quick-links a:hover, .contatos-rede a:hover {
    color: whitesmoke;
    transform: scale(1.05);
}
.contatos h1 {
    margin-bottom: 10px;
}
.contatos-rede {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

/* Media Queries Desktop */
@media screen and (min-width: 1024px) {
    body .header-queries {
        display: none;
    }
    main .inicio-queries {
        display: none;
    }
    main .sobre-queries {
        display: none;
    }
    main .servicos-queries {
        display: none;
    }
    main .produtos-queries {
        display: none;
    }
    main .feedback-queries {
        display: none;
    }
    main .instagram-queries {
        display: none;
    }
    body .footer-queries {
        display: none;
    }
}
/* Media Queries Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    body .header-desktop {
        display: none;
    }
    /* Header */
    .header-queries {
        justify-content: space-between;
        padding: 30px;
    }
    .header-queries .header-information {
        display: flex;
        gap: 30px;
        align-items: center;
    }
    .header-information i {
        font-size: 38px;
        cursor: pointer;
        transition: 0.3s all ease;
    }
    .header-information i:hover {
        color: white;
    }

    main .inicio-desktop {
        display: none;
    }
    /* Inicio */
    .inicio-queries .inicio-fundo {
        gap: 20px;
        transition: 0.3s all ease;
    }
    .inicio-fundo {
        flex-direction: column;
    }
    .inicio-texto {
        text-align: center;
    }
    .inicio-fundo img {
        width: 450px;
        height: 600px;
    }
    .barra-social .barra1 {
        width: 900px;
        height: 3px;
    }
    .barra-social .barra2 {
        width: 150px;
        height: 3px;
    }
    .barra-social .rede-sociais {
        display: flex;
        gap: 20px;
    }
    .rede-sociais a {
        border: 3px solid #9A3451;
        border-radius: 50%;
        padding: 16px;
    }
    .rede-sociais a:hover {
        transform: scale(1.1);
        color: whitesmoke;
        background-color: black;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    .rede-sociais a i {
        font-size: 32px;
    }

    main .sobre-desktop {
        display: none;
    }
    /* Sobre */
    main .sobre-queries {
        gap: 30px;
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px 30px;
    }
    .imagens img {
        width: 350px;
        height: 500px;
        border-radius: 10px;
        border: 3px solid var(--pink-vinho);
        box-shadow: rgba(218, 32, 94, 0.448) 0px 10px 36px 0px, rgba(199, 67, 67, 0.505) 0px 0px 0px 1px;
    }
    .sobre-queries .sobre-texto {
        gap: 15px;
    }
    .button-mais {
        position: relative;
        right: -230px;
    }
    .imagens {
        display: flex;
        gap: 10px;
    }
    .barra1 {
        margin-top: 10px;
        width: 520px;
        height: 3px;
        background-color: black;
    }

    main .servicos-desktop {
        display: none;
    }
    /* Serviços */
    .servicos-queries {
        margin-top: 100px;
        margin-bottom: 50px;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .servicos-queries .servicos-texto {
        text-align: center;
        gap: 20px;
    }
    .servicos-conteudo {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    .servicos-conteudo .servico-compra {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        word-wrap: inherit;
        word-break: inherit;
    }
    .compra h1 {
        margin-bottom: 15px;
    }
    .servicos-img img {
        width: 200px;
        height: 300px;
    }
    .servicos-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    main .produtos-desktop {
        display: none;
    }
    /* Produtos */
    main .produtos-queries {
        margin-top: 100px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding: 0 40px;
    }
    .produtos-queries .barra1 {
            margin-top: 10px;
            width: 400px;
            height: 3px;
            background-color: black;
    }
    .produtos-texto h4 {
        margin-bottom: 10px;
    }
    .produtos .produtos-card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    main .feedback-desktop {
        display: none;
    }
    /* Feedback */
    .feedback-conteudo .conteudo {
        flex-direction: column;
        gap: 0px;
        flex-wrap: wrap;
        padding: 0 20px;
    }
    .autor {
        font-size: 48px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .autor-icons button i {
        font-size: 48px;
    }

    main .instagram-desktop {
        display: none;
    }
    /* Instagram */
    .instagram-queries .barra1 {
        width: 300px;
    }

    body .footer-desktop {
        display: none;
    }
    /* Footer */
    .footer-queries {
        justify-content: center;
        flex-direction: column;
        height: 600px;
        gap: 80px;
        padding: 10px;
    }
    .footer-container {
        display: flex;
        gap: 70px;  
    }
    footer h1, footer h3, footer a, footer p {
        margin: 5px 0;
    }
    .diely-marca, .diely-contato, .diely-email {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
    }
    .diely-marca i, .diely-contato i, .diely-email i {
        font-size: 24px;
    } 
    .diely-marca img {
        width: 30px;
    }
    .contatos h1 {
        text-align: center;
    }
    .contatos .contatos-rede {
        display: flex;
        align-items: center;
        gap: 100px;
    }
}
/* Media Queries Smartphone */
@media screen and (max-width: 767px) {
    body .header-desktop {
        display: none;
    }
    /* Header */
    header {
        flex-direction: row;
        height: auto;
        margin-bottom: 30px;
    }
    nav ul {
        flex-direction: row;
        gap: 10px;
    }
    .logo-box h2 {
        font-size: 24px;
    }
    #btn-switch {
        font-size: 32px;
    }

    main .inicio-desktop {
        display: none;
    }
    /* Inicio */
    .inicio .inicio-fundo {
        flex-direction: column;
        gap: 20px;
    }
    .inicio-fundo img {
        width: 100%;
        height: auto;
        max-width: 300px;
    }
    .inicio-texto h1 {
        font-size: 36px;
    }
    .barra-social .barra1 {
        width: 100%;
    }
    .barra-social .rede-sociais {
        gap: 5px;
    }
    .rede-sociais a {
        padding: 10px;
    }
    .rede-sociais a i {
        font-size: 20px;
    }

    main .sobre-desktop {
        display: none;
    }
    /* Sobre */
    main .sobre {
        flex-direction: column;
        gap: 20px;
        padding: 0 20px;
    }
    .imagens img {
        width: 100%;
        height: auto;
        max-width: 300px;
    }
    .sobre .sobre-texto {
        font-size: 20px;
        gap: 10px;
        align-items: center;
        text-align: center;
    }
    .sobre-texto button {
        width: 200px;
        height: 50px;
        font-size: 20px;
        margin-top: 20px;
    }

    main .servicos-desktop {
        display: none;
    }
    /* Serviços */
    main .servicos {
        padding: 0 10px;
        gap: 20px;
    }
    .servicos-conteudo {
        flex-direction: column;
        gap: 20px;
    }
    .servico-compra {
        max-width: 100%;
    }
    .servicos-img img {
        width: 100%;
        height: auto;
        max-width: 300px;
    }
    .servicos-cards {
        gap: 20px;
    }

    main .produtos-desktop {
        display: none;
    }
    /* Produtos */
    main .produtos {
        padding: 0 10px;
        gap: 20px;
    }
    .produtos .produtos-card {
        flex-direction: column;
        gap: 20px;
    }
    .card {
        max-width: 100%;
    }
    .card h1 {
        font-size: 20px;
    }
    .card p {
        font-size: 16px;
    }
    .card .preco {
        font-size: 20px;
    }
    .card .comprar {
        width: 150px;
        height: 40px;
        font-size: 16px;
    }

    main .feedback-desktop {
        display: none;
    }
    /* Feedback */
    main .feedback {
        padding: 0 10px;
        gap: 20px;
    }
    .feedback-conteudo {
        gap: 20px;
    }
    .feedback-texto {
        font-size: 20px;
    }
    .feedback-imagem img {
        width: 100%;
        height: auto;
        max-width: 300px;
    }

    main .instagram-desktop {
        display: none;
    }
    /* Instagram */
    main .instagram {
        padding: 0 10px;
        gap: 20px;
    }
    .instagram-carrossel img {
        width: 100%;
        height: auto;
        max-width: 150px;
    }

    body .footer-desktop {
        display: none;
    }
    /* Footer */
    footer {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .footer-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }
    .diely-salao, .quick-links, .contatos-rede {
        align-items: center;
    }
    .diely-salao .diely-marca {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .diely-marca h1 {
        text-align: center;
    }
    .diely-contato, .diely-email {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .quick-links .links {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    .contatos-rede {
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 10px;
    }
    .contatos-rede a {
        font-size: 14px;
    }
    #logo {
        width: 30px;
        height: 30px;
    }
    .diely-marca h1, .diely-contato h3, .diely-email h3 {
        font-size: 14px;
    }
}